<div class="container">
    <div class="items">

        <mat-tab-group>
        <mat-tab>
            <ng-template mat-tab-label>
                <span class="my-custom-class" [routerLinkActive]="'active'"> 
                    <a routerLink="/chapters/chapter1" ><svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M12 6.84315L17.6569 12.5L12 18.1569L6.34319 12.5L12 6.84315ZM21.8995 12.5L12 22.3995L2.10055 12.5L12 2.60051L21.8995 12.5Z" fill="#54B689"/>
                      </svg>Chapter 1</a></span>
            </ng-template>
            Content 1
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label >
              <span class="my-custom-class" [routerLinkActive]="'active'">  
                <a routerLink="/chapters/chapter2" ><svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M12 6.84315L17.6569 12.5L12 18.1569L6.34319 12.5L12 6.84315ZM21.8995 12.5L12 22.3995L2.10055 12.5L12 2.60051L21.8995 12.5Z" fill="#54B689"/>
                  </svg>Chapter 2</a></span>
          </ng-template>
          Content 2
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
            <span class="my-custom-class" [routerLinkActive]="'active'">  <a routerLink = "about">Chapter 3</a></span>
        </ng-template>
        Content 3
    </mat-tab>


    <mat-tab>
      <ng-template mat-tab-label>
          <span class="my-custom-class">  <a routerLink>Chapter 4</a></span>
      </ng-template>
      Content 4
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
        <span class="my-custom-class">  <a routerLink>Chapter 5</a></span>
    </ng-template>
    Content 5
</mat-tab>

<mat-tab>
  <ng-template mat-tab-label>
      <span class="my-custom-class">  <a routerLink>Chapter 6</a></span>
  </ng-template>
  Content 6
</mat-tab>

<mat-tab>
    <ng-template mat-tab-label>
        <span class="my-custom-class">  <a routerLink>Chapter 7</a></span>
    </ng-template>
    Content 7
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
        <span class="my-custom-class">  <a routerLink>Chapter 8</a></span>
    </ng-template>
    Content 8
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
        <span class="my-custom-class">  <a routerLink>Chapter 9</a></span>
    </ng-template>
    Content 9
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
        <span class="my-custom-class">  <a routerLink>Chapter 10</a></span>
    </ng-template>
    Content 10
  </mat-tab>
       </mat-tab-group>

      </div>
      
	</div>

    <router-outlet></router-outlet>

    <span class="my-custom-class" [routerLinkActive]="'active'">
      <a routerLink="/chapters/chapter2"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="25"
              viewBox="0 0 24 25" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M12 6.84315L17.6569 12.5L12 18.1569L6.34319 12.5L12 6.84315ZM21.8995 12.5L12 22.3995L2.10055 12.5L12 2.60051L21.8995 12.5Z"
                  fill="#54B689" />
          </svg>Chapter 2</a></span>

  <span class="my-custom-class" [routerLinkActive]="'active'">
      <a routerLink="/chapters/chapter2"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="25"
              viewBox="0 0 24 25" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M12 6.84315L17.6569 12.5L12 18.1569L6.34319 12.5L12 6.84315ZM21.8995 12.5L12 22.3995L2.10055 12.5L12 2.60051L21.8995 12.5Z"
                  fill="#54B689" />
          </svg>Chapter 3</a></span>

  <span class="my-custom-class" [routerLinkActive]="'active'">
      <a routerLink="/chapters/chapter2"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="25"
              viewBox="0 0 24 25" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M12 6.84315L17.6569 12.5L12 18.1569L6.34319 12.5L12 6.84315ZM21.8995 12.5L12 22.3995L2.10055 12.5L12 2.60051L21.8995 12.5Z"
                  fill="#54B689" />
          </svg>Chapter 4</a></span>

  <span class="my-custom-class" [routerLinkActive]="'active'">
      <a routerLink="/chapters/chapter2"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="25"
              viewBox="0 0 24 25" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M12 6.84315L17.6569 12.5L12 18.1569L6.34319 12.5L12 6.84315ZM21.8995 12.5L12 22.3995L2.10055 12.5L12 2.60051L21.8995 12.5Z"
                  fill="#54B689" />
          </svg>Chapter 5</a></span>

  <span class="my-custom-class" [routerLinkActive]="'active'">
      <a routerLink="/chapters/chapter2"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="25"
              viewBox="0 0 24 25" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M12 6.84315L17.6569 12.5L12 18.1569L6.34319 12.5L12 6.84315ZM21.8995 12.5L12 22.3995L2.10055 12.5L12 2.60051L21.8995 12.5Z"
                  fill="#54B689" />
          </svg>Chapter 6</a></span>

  <span class="my-custom-class" [routerLinkActive]="'active'">
      <a routerLink="/chapters/chapter2"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="25"
              viewBox="0 0 24 25" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M12 6.84315L17.6569 12.5L12 18.1569L6.34319 12.5L12 6.84315ZM21.8995 12.5L12 22.3995L2.10055 12.5L12 2.60051L21.8995 12.5Z"
                  fill="#54B689" />
          </svg>Chapter 7</a></span>

  <span class="my-custom-class" [routerLinkActive]="'active'">
      <a routerLink="/chapters/chapter2"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="25"
              viewBox="0 0 24 25" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M12 6.84315L17.6569 12.5L12 18.1569L6.34319 12.5L12 6.84315ZM21.8995 12.5L12 22.3995L2.10055 12.5L12 2.60051L21.8995 12.5Z"
                  fill="#54B689" />
          </svg>Chapter 8</a></span>

  <span class="my-custom-class" [routerLinkActive]="'active'">
      <a routerLink="/chapters/chapter2"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="25"
              viewBox="0 0 24 25" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M12 6.84315L17.6569 12.5L12 18.1569L6.34319 12.5L12 6.84315ZM21.8995 12.5L12 22.3995L2.10055 12.5L12 2.60051L21.8995 12.5Z"
                  fill="#54B689" />
          </svg>Chapter 9</a></span>

  <span class="my-custom-class" [routerLinkActive]="'active'">
      <a routerLink="/chapters/chapter2"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="25"
              viewBox="0 0 24 25" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M12 6.84315L17.6569 12.5L12 18.1569L6.34319 12.5L12 6.84315ZM21.8995 12.5L12 22.3995L2.10055 12.5L12 2.60051L21.8995 12.5Z"
                  fill="#54B689" />
          </svg>Chapter 10</a></span>

  <span class="my-custom-class" [routerLinkActive]="'active'">
      <a routerLink="/chapters/chapter2"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="25"
              viewBox="0 0 24 25" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M12 6.84315L17.6569 12.5L12 18.1569L6.34319 12.5L12 6.84315ZM21.8995 12.5L12 22.3995L2.10055 12.5L12 2.60051L21.8995 12.5Z"
                  fill="#54B689" />
          </svg>Chapter 11</a></span>

  <span class="my-custom-class" [routerLinkActive]="'active'">
      <a routerLink="/chapters/chapter2"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="25"
              viewBox="0 0 24 25" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M12 6.84315L17.6569 12.5L12 18.1569L6.34319 12.5L12 6.84315ZM21.8995 12.5L12 22.3995L2.10055 12.5L12 2.60051L21.8995 12.5Z"
                  fill="#54B689" />
          </svg>Chapter 12</a></span>

  <span class="my-custom-class" [routerLinkActive]="'active'">
      <a routerLink="/chapters/chapter2"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="25"
              viewBox="0 0 24 25" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M12 6.84315L17.6569 12.5L12 18.1569L6.34319 12.5L12 6.84315ZM21.8995 12.5L12 22.3995L2.10055 12.5L12 2.60051L21.8995 12.5Z"
                  fill="#54B689" />
          </svg>Chapter 13</a></span>

  <span class="my-custom-class" [routerLinkActive]="'active'">
      <a routerLink="/chapters/chapter2"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="25"
              viewBox="0 0 24 25" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M12 6.84315L17.6569 12.5L12 18.1569L6.34319 12.5L12 6.84315ZM21.8995 12.5L12 22.3995L2.10055 12.5L12 2.60051L21.8995 12.5Z"
                  fill="#54B689" />
          </svg>Chapter 14</a></span>

  <span class="my-custom-class" [routerLinkActive]="'active'">
      <a routerLink="/chapters/chapter2"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="25"
              viewBox="0 0 24 25" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M12 6.84315L17.6569 12.5L12 18.1569L6.34319 12.5L12 6.84315ZM21.8995 12.5L12 22.3995L2.10055 12.5L12 2.60051L21.8995 12.5Z"
                  fill="#54B689" />
          </svg>Chapter 15</a></span>

  <span class="my-custom-class" [routerLinkActive]="'active'">
      <a routerLink="/chapters/chapter2"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="25"
              viewBox="0 0 24 25" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M12 6.84315L17.6569 12.5L12 18.1569L6.34319 12.5L12 6.84315ZM21.8995 12.5L12 22.3995L2.10055 12.5L12 2.60051L21.8995 12.5Z"
                  fill="#54B689" />
          </svg>Chapter 16</a></span>

  <span class="my-custom-class" [routerLinkActive]="'active'">
      <a routerLink="/chapters/chapter2"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="25"
              viewBox="0 0 24 25" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M12 6.84315L17.6569 12.5L12 18.1569L6.34319 12.5L12 6.84315ZM21.8995 12.5L12 22.3995L2.10055 12.5L12 2.60051L21.8995 12.5Z"
                  fill="#54B689" />
          </svg>Chapter 17</a></span>

  <span class="my-custom-class" [routerLinkActive]="'active'">
      <a routerLink="/chapters/chapter2"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="25"
              viewBox="0 0 24 25" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M12 6.84315L17.6569 12.5L12 18.1569L6.34319 12.5L12 6.84315ZM21.8995 12.5L12 22.3995L2.10055 12.5L12 2.60051L21.8995 12.5Z"
                  fill="#54B689" />
          </svg>Chapter 18</a></span>

  <span class="my-custom-class" [routerLinkActive]="'active'">
      <a routerLink="/chapters/chapter2"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="25"
              viewBox="0 0 24 25" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M12 6.84315L17.6569 12.5L12 18.1569L6.34319 12.5L12 6.84315ZM21.8995 12.5L12 22.3995L2.10055 12.5L12 2.60051L21.8995 12.5Z"
                  fill="#54B689" />
          </svg>Chapter 19</a></span>

  <span class="my-custom-class" [routerLinkActive]="'active'">
      <a routerLink="/chapters/chapter2"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="25"
              viewBox="0 0 24 25" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M12 6.84315L17.6569 12.5L12 18.1569L6.34319 12.5L12 6.84315ZM21.8995 12.5L12 22.3995L2.10055 12.5L12 2.60051L21.8995 12.5Z"
                  fill="#54B689" />
          </svg>Chapter 20</a></span>

  <span class="my-custom-class" [routerLinkActive]="'active'">
      <a routerLink="/chapters/chapter2"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="25"
              viewBox="0 0 24 25" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M12 6.84315L17.6569 12.5L12 18.1569L6.34319 12.5L12 6.84315ZM21.8995 12.5L12 22.3995L2.10055 12.5L12 2.60051L21.8995 12.5Z"
                  fill="#54B689" />
          </svg>Chapter 21</a></span>

  <span class="my-custom-class" [routerLinkActive]="'active'">
      <a routerLink="/chapters/chapter2"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="25"
              viewBox="0 0 24 25" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M12 6.84315L17.6569 12.5L12 18.1569L6.34319 12.5L12 6.84315ZM21.8995 12.5L12 22.3995L2.10055 12.5L12 2.60051L21.8995 12.5Z"
                  fill="#54B689" />
          </svg>Chapter 22</a></span>

  <span class="my-custom-class" [routerLinkActive]="'active'">
      <a routerLink="/chapters/chapter2"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="25"
              viewBox="0 0 24 25" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M12 6.84315L17.6569 12.5L12 18.1569L6.34319 12.5L12 6.84315ZM21.8995 12.5L12 22.3995L2.10055 12.5L12 2.60051L21.8995 12.5Z"
                  fill="#54B689" />
          </svg>Chapter 23</a></span>

  <span class="my-custom-class" [routerLinkActive]="'active'">
      <a routerLink="/chapters/chapter2"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="25"
              viewBox="0 0 24 25" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M12 6.84315L17.6569 12.5L12 18.1569L6.34319 12.5L12 6.84315ZM21.8995 12.5L12 22.3995L2.10055 12.5L12 2.60051L21.8995 12.5Z"
                  fill="#54B689" />
          </svg>Chapter 24</a></span>

  <span class="my-custom-class" [routerLinkActive]="'active'">
      <a routerLink="/chapters/chapter2"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="25"
              viewBox="0 0 24 25" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M12 6.84315L17.6569 12.5L12 18.1569L6.34319 12.5L12 6.84315ZM21.8995 12.5L12 22.3995L2.10055 12.5L12 2.60051L21.8995 12.5Z"
                  fill="#54B689" />
          </svg>Chapter 25</a></span>

  <span class="my-custom-class" [routerLinkActive]="'active'">
      <a routerLink="/chapters/chapter2"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="25"
              viewBox="0 0 24 25" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M12 6.84315L17.6569 12.5L12 18.1569L6.34319 12.5L12 6.84315ZM21.8995 12.5L12 22.3995L2.10055 12.5L12 2.60051L21.8995 12.5Z"
                  fill="#54B689" />
          </svg>Chapter 26</a></span>

  <span class="my-custom-class" [routerLinkActive]="'active'">
      <a routerLink="/chapters/chapter2"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="25"
              viewBox="0 0 24 25" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M12 6.84315L17.6569 12.5L12 18.1569L6.34319 12.5L12 6.84315ZM21.8995 12.5L12 22.3995L2.10055 12.5L12 2.60051L21.8995 12.5Z"
                  fill="#54B689" />
          </svg>Chapter 27</a></span>

  <span class="my-custom-class" [routerLinkActive]="'active'">
      <a routerLink="/chapters/chapter2"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="25"
              viewBox="0 0 24 25" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M12 6.84315L17.6569 12.5L12 18.1569L6.34319 12.5L12 6.84315ZM21.8995 12.5L12 22.3995L2.10055 12.5L12 2.60051L21.8995 12.5Z"
                  fill="#54B689" />
          </svg>Chapter 28</a></span>

  <span class="my-custom-class" [routerLinkActive]="'active'">
      <a routerLink="/chapters/chapter2"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="25"
              viewBox="0 0 24 25" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M12 6.84315L17.6569 12.5L12 18.1569L6.34319 12.5L12 6.84315ZM21.8995 12.5L12 22.3995L2.10055 12.5L12 2.60051L21.8995 12.5Z"
                  fill="#54B689" />
          </svg>Chapter 29</a></span>

  <span class="my-custom-class" [routerLinkActive]="'active'">
      <a routerLink="/chapters/chapter2"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="25"
              viewBox="0 0 24 25" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M12 6.84315L17.6569 12.5L12 18.1569L6.34319 12.5L12 6.84315ZM21.8995 12.5L12 22.3995L2.10055 12.5L12 2.60051L21.8995 12.5Z"
                  fill="#54B689" />
          </svg>Chapter 30</a></span>