<div class="container">
    
    <mat-tab-group>

        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="vocabulary-lesson">library_books</mat-icon>
                   Vocabulary Exercise 
            </ng-template>
            content
        </mat-tab>


        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="video-lesson">video_library</mat-icon>
                
                   Video Lesson
                
                      
            </ng-template>
            content
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="quiz-lesson">chrome_reader_mode</mat-icon>
                
                   Reading
                
                      
            </ng-template>
            content
        </mat-tab>


        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="quiz-lesson">edit</mat-icon>
                
                   Quiz
                
                      
            </ng-template>
            content
        </mat-tab>

       
    </mat-tab-group>
</div>
