<!-- Start of hero section -->

<div class="container col-xxl-8 px-4 py-5" style="background-color: #ffffff; margin-top: 1%;">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6 image-container">
            <img src="assets/images/Nihongo Shiksha Hero-Section2.jpg" id="hero" class="d-block mx-lg-auto img-fluid"
                alt="Bootstrap Themes" width="1000" height="200" style="margin-left: 27px; margin-top: -80px;"
                loading="lazy">
        </div>
        <div class="col-lg-6" style="color: #28387a;">
            <h3 class="display-6 fw-bold lh-1 mb-3">Learn <span  style="color: #e35f6a">Japanese </span>language for <span  style="color: #e35f6a">Free</span> in Urdu, Hindi & Tamil.</h3>
           <p class="lead"><strong>Unlock the beauty of Japanese language from your home
                    Start mastering now!"</strong></p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <button type="button" class="btn btn-custom-success btn-lg px-4 me-md-2" (click)="videos()">
                    Get Started <span class="highlight-text">@just ₹999</span>
                </button>

                <button type="button" class="btn btn-custom-outline-success btn-lg px-4 text-body-success"
                    (click)="videos()">Try Free
                    Lessons</button>
            </div>
        </div>
    </div>
</div>

<!-- End of Hero Section -->

<!-- Start of services -->
<div class="container choose-container col-xxl-8 px-4 py-5" style="background-color: #ffffff; margin-top: 1%;">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-3">
        <div class="row my-3">
            <h3 class="display-6 fw-bold lh-1 mb-3 my-3" style="color: #28387a;">
                <p>Why Choose Us?...</p>
                <div class="rectangle"></div>
            </h3>
            <div class="col-md-4">
                <div class="card h-80" style="margin-bottom: 5%;">
                    <div class="card-block" style="margin: 5%;">
                        <ul class="outer-circle">
                            <li>
                                <img src="assets/images/HomeFrame.svg" alt="" height="30px" width="30px">
                            </li>
                        </ul>

                        <h4 class="card-title" style="color: #28387a;">Learn From Home</h4>
                        <p style="color: #28387a;">Start commute free learning</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card h-80" style="margin-bottom: 5%">
                    <div class="card-block" style="margin: 5%;">
                        <ul class="outer-circle">
                            <li>
                                <img src="assets/images/MoneyFrame.svg" alt="" height="30px" width="30px">
                            </li>
                        </ul>

                        <h4 class="card-title" style="color: #28387a;">Affordable Price</h4>
                        <p style="color: #28387a;">Pay only for doubt clarifications</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card h-80">
                    <div class="card-block" style="margin: 5%;">
                        <ul class="outer-circle">
                            <li>
                                <img src="assets/images/LifeTimeAccessFrame.svg" alt="" height="30px" width="30px">
                            </li>
                        </ul>

                        <h4 class="card-title" style="color: #28387a;">Life Time Access</h4>
                        <p style="color: #28387a;">Get Rid of Scheduled Classes</p>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<!--End of Services-->

<!-- Start of about section-->

<div class="container col-xxl-8 px-4 py-5" style="background-color: #ffffff; margin-top: 1%;">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-3">
        <div class="col-lg-6" style="color: #28387a;">
            <h3 class="display-6 fw-bold lh-1 mb-3">What We Offer</h3>
            <div class="rectangle"></div>
            <p class="lead"><strong>we believe in making learning Japanese accessible to all the Indians in Urdu, Hindi
                    and Tamil. We offer affordable courses of JLPT N5, N4 and N3, allowing learners to study comfortably
                    at their own pace,
                    anytime, anywhere.
                    "</strong></p>
        </div>
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="assets/images/whychooseus.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"
                width="700" height="500" style="margin-left: 20px; margin-top: -50px;" loading="lazy">
        </div>
    </div>
</div>

<!--End of About Section-->



<!-- Start of Advantage 1-->

<div class="container col-xxl-8 px-4 py-5" style="background-color: #ffffff; margin-top: 1%;">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">

        <div class="col-lg-6" style="color: #28387a;">
            <h3 class="display-6 fw-bold lh-1 mb-3"> Overcome The Time Constraints </h3>
            <div class="rectangle"></div>
            <p class="lead"><strong>Statistics shows that many individuals are unable to complete the courses due to
                    time constraints
                    and their busy schedules. Our solution? We offer you life time access to our courses.
                </strong></p>
        </div>

        <div id="section-image" class=" image-container col-10 col-sm-8 col-lg-6">
            <img src="assets/images/TimeConstraints.svg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"
                width="400" style="margin-left: 20px; margin-top: -50px;" loading="lazy">
        </div>


    </div>
</div>

<!--End of Advantage 1-->

<!--Start of advantage 2-->

<div class="container commute col-xxl-8 px-4 py-5" style="background-color: #ffffff; margin-top: 1%;">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6 image-container">
            <img src="assets/images/hasslefree.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"
                width="700" height="500" style="margin-left: 20px; margin-top: -50px;" loading="lazy">
        </div>

        <div class="col-lg-6 text-container" style="color: #28387a;">
            <h3 class="display-6 fw-bold lh-1 mb-3">No More Commutation Issues</h3>
            <div class="rectangle"></div>
            <p class="lead"><strong>Commuting to a language institute can be unpleasant due to many reasons like road
                    traffic and
                    weather conditions. Our solution? We bring the institute to your devices, ensuring convenience and
                    comfort for your
                    language learning journey.
                    "</strong></p>
        </div>
    </div>
</div>

<!--End of Advantage 2-->

<!--Start of Advantage 3-->
<div class="container col-xxl-8 px-4 py-5" style="background-color: #ffffff; margin-top: 1%;">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">

        <div class="col-lg-6" style="color: #28387a;">
            <h3 class="display-6 fw-bold lh-1 mb-3">Affordable Courses: Satisfy Your Appetite for Knowledge"</h3>
            <p class="lead"><strong>High pricing often deters many individuals from joining courses. Our solution?
                    Affordable
                    courses priced at the equivalent of a single day's meal.
                </strong></p>
        </div>


        <div class="col-10 col-sm-8 col-lg-6 image-container">
            <img src="assets/images/pricing.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"
            width="700" height="500" style="margin-left: 20px; margin-top: -50px;" loading="lazy">
        </div>
    </div>
</div>
<!--End of Advantage 3-->

<!-- Start of Advantage 4-->
<div class="container col-xxl-8 px-4 py-5" style="background-color: #ffffff; margin-top: 1%;">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">


        <div class="col-10 col-sm-8 col-lg-6 image-container">
            <img src="assets/images/support.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"
            width="700" height="500" style="margin-left: 20px; margin-top: -50px;" loading="lazy">
        </div>

        <div class="col-lg-6" style="color: #28387a;">
            <h3 class="display-6 fw-bold lh-1 mb-3">Seamlessly Connect</h3>
            <p class="lead"><strong>As a language learner you will surely get some doubts.
                    Go ahead, don't hesitate to ask questions. Get your doubts clarified by instructors who
                    speak in your mother tongue.
                    "</strong></p>
        </div>

    </div>
</div>
<!-- End of Advantage 4 -->

<!--Start of solution section-->