<div class="container col-xxl-8 px-4 py-5" style="background-color: #ffffff; margin-top: 1%;">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        
        <div class="col-10 col-sm-8 col-lg-6 image-container skeleton-container">
            <div class="skeleton-image skeleton-loading"></div>
            
            <img src="assets/images/Nihongo Shiksha Hero-Section2.jpg" id="hero" class="d-block mx-lg-auto img-fluid skeleton-image"
            (load)="imageLoaded()" alt="Bootstrap Themes" width="1000" height="200" style="margin-left: 27px; margin-top: -80px;"
                loading="lazy">
        </div>
        <div class="col-lg-6" style="color: #28387a;">
            <h3 class="display-6 fw-bold lh-1 mb-3">Learn <span  style="color: #e35f6a">Japanese </span>language for <span  style="color: #e35f6a">Free</span> in Urdu, Hindi & Tamil.</h3>
           <p class="lead"><strong>Unlock the beauty of Japanese language from your home
                    Start mastering now!"</strong></p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <button type="button" class="btn btn-custom-success btn-lg px-4 me-md-2">
                    Get Started <span class="highlight-text">@just ₹999</span>
                </button>

                <button type="button" class="btn btn-custom-outline-success btn-lg px-4 text-body-success"
                    >Try Free
                    Lessons</button>
            </div>
        </div>
    </div>
</div>
