.menu-color{
    color: #787a7b
}

.shiksha{
color: #28387a;
text-align: center;
font-size: 1.2rem;
font-style: normal;
font-weight: 800;
line-height: normal;
width: 3.625rem;
height: 1.29rem;
flex-shrink: 0;
padding-top: 0.2rem;
}

.shiksha-footer{
    color: #28387a;
    text-align: center;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    width: 3.625rem;
    height: 1.29rem;
    flex-shrink: 0;
    padding-bottom: 0.2rem;
    }



.navbar{
    font-family: -apple-system;
    font-size: 1.2rem;
    background-color: #ffffff;
   }
.nav-link:hover{
   color: #54b689;
   transition: all 0.2s;
   border-bottom: 2px solid;
   border-width: 0.1px;
}

.container{
    background-color: #ffffff;
    max-height: 80vh;
  /*  display: flex;*/
}

p{
    margin: 1%;
    padding: 1%;
    text-align: center;
    color: #f2fbfb;
}


.btn-custom-success {
    background-color: #54b689;
    color: #ffffff;
    border-radius: 25px;
}

.text-body-success{
    color: #54b689;
}

.btn-custom-success:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(0.5);
    transform: scale(1.0);  
}

img{
    opacity: 0.8;
}

img{
    opacity: 0.8;
    opacity: 0.9;
}

.highlight-text {
    color: #ffffff; /* Yellow or Gold text */
    /* You can replace 'red' with your desired eye-catching color */
    font-weight: bold; /* Make the text bold if desired */
    /* Add more styling as needed */
  }
  
ul.outer-circle > li{
    font-size: 18px;
    line-height: 30px;
    width: 45px;
    height: 45px;
    border-radius: 36px;
    background-color: #E1F8E8;
    color: #fff;
    margin: 0 3px 3px 0;
    margin-left: -2rem;
}

ul.outer-circle > li > img{
    margin-left: 0.35rem;
}

.social-media-container{
    margin-top: 5.5rem;
    margin-left: -3.5rem;
    display: flex;
    gap: 20px;
}

.footer-lead{
    margin-top: 4rem;
    margin-left: -4.7rem;
    padding: 1rem;
}

.footer-container1{
    background-color: #DAECDF;
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    
}

.footer-lhs{
    margin-top: -2rem;
    margin-left: 2rem;
    display: flex;
}

.footer-rhs{
    margin-top: -7rem;
}

.footer-rhs button{
    margin-top: 1rem;
}

.logo-title-container{
    display: block;
}
.navbar-brand{
    display: flex;
}

@media (min-width: 360px) and (max-width: 374px) {
    
    .container{
        min-width: 100vw;
    }
    .footer-container1{
        
        flex-direction: column;
    }
    .footer-rhs {
        order: 1;
    }

    
    .footer-lhs {
        order: 2;
    }
    .logo-img{
        margin-top: 1.5rem;
    }
}

    

@media (min-width: 375px) and (max-width: 431px) {
    
    .container{
        min-width: 100vw;
    }
    .footer-container1{
        
        flex-direction: column;
    }
    .footer-rhs {
        order: 1;
    }

    
    .footer-lhs {
        order: 2;
    }
    .logo-img{
        margin-top: 1.5rem;
    }
}



