<!--Start of navigation-->
<div class="container">
  <nav class="navbar navbar-expand-md">

    <a routerLink="/" class="navbar-brand">
      <span style="padding: 1.5%; margin-left: 1%;">&nbsp; <img src="assets/images/Group.svg"> </span>
      <span class="shiksha">&nbsp; SHIKSHA &nbsp;</span>
    </a>
    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-expanded="false">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav ms-auto text-center menu-color">
        <li class="nav-item"><a routerLink="/" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Seamlessly Connect</a></li>
        <li class="nav-item"><a routerLink="/members/admin/chaptersmanagement" class="nav-link">Management</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Blog</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Login</a></li>
      </ul>
    </div>
  </nav>
</div>

<!--End of navigation-->

<router-outlet></router-outlet>

<!--Start of footer-->

<!--End of solution section-->

<!--End of solution section-->

<div class="footer-container1 container col-xxl-8 px-4 py-5" style="margin-top: 1%;">
  <div class="footer-lhs">
    <span style="padding: 1%; margin-left: 1%;">&nbsp; <img src="assets/images/Group.svg"> </span>
   
    <span class="shiksha" style="display: block;">&nbsp; SHIKSHA &nbsp;</span>
    <span class="footer-lead" style="display: block;">Learn Japanese in Urdu, Hindi & Tamil!</span>
    <span class="social-media-container">
      <span><i class="fa-brands fa-square-facebook"></i></span>
      <span><i class="fa-brands fa-linkedin"></i></span>
      <span><i class="fa-brands fa-square-instagram"></i></span>
    </span>
    
  </div>

  <div class="footer-rhs row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-lg-12 align-items-center" style="color: #28387a;">
      <h3 class="display-6 fw-bold lh-1 mb-3">Still Have Hesitation To Join?</h3>
      <span class="lead"><strong>No worries! Try our demo version and you can upgrade to the premium version at any
          time.</strong></span>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button type="button" class="btn btn-custom-success btn-lg px-4 me-md-2" (click)="videos()">Try Free
          Lessons</button>
      </div>
    </div>
  </div>
</div>


<div class="container" style="background-color: #28387a; margin-top: 0.5%;">
  <div class="content">
    <p>© 2023 NihongoShiksha.com. All rights reserved. | Privacy Policy | Terms of Service</p>
  </div>
</div>
<!--End of footer-->