<!--Start of navigation-->
<div class="container">
  <nav class="navbar navbar-expand-md">

    <a routerLink="/" class="navbar-brand">
      <span style="padding: 1.5%; margin-left: 1%;">&nbsp; <img src="assets/images/Group.svg"> </span>
     <div class=".logo-title-container">
      <div class="shiksha">&nbsp; NIHONGO &nbsp;</div>
      <div class="shiksha">&nbsp; SHIKSHA &nbsp;</div>
    </div>
    </a>
    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-expanded="false">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav ms-auto text-center menu-color">
        <li class="nav-item"><a routerLink="/welcome" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Seamlessly Connect</a></li>
        <li class="nav-item"><a routerLink="/members/admin/chaptersmanagement" class="nav-link">Management</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Blog</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Login</a></li>
      </ul>
    </div>
  </nav>
</div>

<!--End of navigation-->

<router-outlet></router-outlet>

<!--Start of footer-->

<!--End of solution section-->

<!--End of solution section-->

<div class="footer-container1 container col-xxl-8 px-4 py-5" style="margin-top: 1%;">
  <div class="footer-lhs">
    <span class="logo-img" style="padding: 1%; margin-left: 1%;">&nbsp; <img src="assets/images/Group.svg"> </span>
    <div class=".logo-title-container-footer" style="margin-left: 1rem;">
      <div class="shiksha-footer">&nbsp; NIHONGO &nbsp;</div>
      <div class="shiksha-footer">&nbsp; SHIKSHA &nbsp;</div>
    </div>
    <div class="social-media-container">
      <span><i class="fa-brands fa-square-facebook"></i></span>
      <span><i class="fa-brands fa-linkedin"></i></span>
      <span><i class="fa-brands fa-square-instagram"></i></span>
    </div>
    
  </div>

  <div class="footer-rhs row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-lg-12 align-items-center" style="color: #28387a;">
      <h3 class="display-6 fw-bold lh-1 mb-3">🌟 Don't let the doubts hold you back!</h3>
      <span class="lead"><strong>Join the doubt clarification sessions every Monday to Friday, from 9:00 PM to 10:00 PM IST.
        @Just ₹999 for 2 months validity. For more details <img src="assets/images/whatsapp.svg" alt=""> 9566099233</strong></span>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button type="button" class="btn btn-custom-success btn-lg px-4 me-md-2" (click)="videos(); scrollToTop()"> Try Free Lessons </button>
      </div>
    </div>
  </div>
</div>


<div class="container" style="background-color: #28387a; margin-top: 0.5%;">
  <div class="content">
    <p>© 2023 NihongoShiksha.com. All rights reserved. | Privacy Policy | Terms of Service</p>
  </div>
</div>
<!--End of footer-->